<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    {% block title -%}
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Flask</title>
    {% endif %}
    {% endblock %}
</head>
<body>
{% block content -%}
            {%-  block mainmenu -%}
                <ul class="mainmenu">
                    {% for m in menu -%}
                    <li>  <a href="{{url_for(m.url)}}"> {{m.title}} </a> </li>
                    {% endfor -%}
                </ul>
            {% endblock mainmenu -%}
            {%-  block posts -%}
                <ul class="posts">
                    {% for n in post -%}
                    <li>{{n.title}} {{n.post_message}}   </li>
                    {% endfor -%}
                </ul>
            {% endblock posts -%}
{% endblock -%}
</body>
</html>